.thumbnail-row {
  position: relative;
  margin-bottom: 8px;
}
.video-time {
  position: absolute;
  bottom: 8px;
  right: 5px;

  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
.thumbnail {
  width: 100%;
}
.profile-picture {
  width: 36px;
  border-radius: 50px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  margin-bottom: 220px;
  padding-left: 96px;
  padding-right: 24px;
}
@media (max-width: 450px) {
  .video-grid {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }
  .sidebar {
    display: none;
  }
}
@media (min-width: 451px) and (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.video-title a {
  text-decoration: none;
  color: black;
}
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}
